<section class="section px-0 py-0 is-fluid mat-typography">
    <h1 class="mat-headline">{{recipeItem.name}}</h1>

    <mat-tab-group  >
        <mat-tab label="Details">
            <section class="section px-4 py-4">
                <h2 class="mat-title">Description</h2>
                <p class="mat-body">{{recipeItem.description}}</p>

                <h2 class="mat-title">Background</h2>
                <div class="columns">
                    <div class="column">
                        <h3 class="mat-subheading">Cusine</h3><p class="mat-body">{{recipeItem.background.cusine}}</p>
                    </div>
                    <div class="column">
                        <h3 class="mat-subheading-2">History</h3><p class="mat-body">{{recipeItem.background.history}}</p>
                    </div>
                    <div class="column">
                        <h3 class="mat-subheading-1">Region</h3><p class="mat-body">{{recipeItem.background.region}}</p>
                    </div>
                </div>               

                <h2 class="mat-title">Social</h2>
                <div class="columns">
                    <div class="column">
                        <h3 class="mat-subheading-2">Rating</h3><p class="mat-body">{{recipeItem.rating}}</p>
                    </div>
                    <div class="column">
                        <h3 class="mat-subheading-1">Popularity</h3><p class="mat-body">{{recipeItem.popularity}}</p>
                    </div>
                </div>

                <h2 class="mat-title">Nutrition</h2>
                <div class="columns">
                    <div class="column">
                        <h3 class="mat-subheading-2">Calories</h3><p class="mat-body">{{recipeItem.nutrition.calories}}</p>
                    </div>
                    <div class="column">
                        <h3 class="mat-subheading-1">Carbs</h3><p class="mat-body">{{recipeItem.nutrition.carbs}}</p>
                    </div>
                </div>
            </section>
        </mat-tab>

        <mat-tab label="Directions">
            <section class="section px-4 py-4">
                <h2 class="mat-title">Cooking Directions</h2>
                <app-recipe-directions 
                    [directions]="recipeDirections">
                </app-recipe-directions>
            </section>
        </mat-tab>

        <mat-tab label="Steps">
            <section class="section px-4 py-4">
                <h2 class="mat-title">Prep steps</h2>
                <app-recipe-steps 
                    [steps]="recipeSteps">
                </app-recipe-steps>
            </section>
        </mat-tab>

        <mat-tab label="Ingredients">
            <section class="section px-4 py-4">
                <h2 class="mat-title">List of ingredients and portions</h2>
                <app-recipe-ingredients 
                    [ingredients]="recipeIngredients">
                </app-recipe-ingredients>
            </section>
        </mat-tab>

        <mat-tab label="Nutrition">
            <section class="section px-4 py-4">
                <h2 class="mat-title">Nutritional facts</h2>
                <app-recipe-nutrition>
                </app-recipe-nutrition>
            </section>
        </mat-tab>

    </mat-tab-group>
</section>