<section class="section px-0 py-0 is-fluid mat-typography">

    <div class="container">
        <div class="columns mb-4">
            <div class="column" *ngFor="let aggregate of nutritionAggregate | keyvalue">
                <mat-card>
                    <h2>{{aggregate.key | titlecase}}</h2>
                    <h1>{{aggregate.value}}</h1>
                </mat-card>
            </div>
        </div>
    </div>

    <div class="container">
        <mat-accordion>
            <mat-expansion-panel  *ngFor="let food of foods">
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        {{food.description}}
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <div class="columns">
                    <div class="column">
                        <b>Amount: (g)</b>
                        <p>{{food.amount}}</p>
                    </div>
                    <div class="column">
                        <table style="width: 100%;">
                            <tr>
                                <th>Nutrient</th>
                                <th>Amount</th>
                                <th>Unit</th>
                            </tr>
                            <tr *ngFor="let nutrient of food.foodNutrients">
                                <td>{{nutrient.name}}</td>
                                <td>{{nutrient.amount}}</td>
                                <td>{{nutrient.unitName}}</td>
                            </tr>
                        </table>
                    </div>
                </div>
            </mat-expansion-panel>
        </mat-accordion>
    </div>

</section>