
<section class="section px-0 py-0 is-fluid">

    <div class="nav-item-label">
      <a mat-button [routerLink]="">Add</a>
      <a mat-button [routerLink]="">Remove</a>
      <a mat-button [routerLink]="">Modify</a>
    </div>
    <mat-divider></mat-divider>
  
</section>

<section class="section">
    <div class="container is-fluid">
        <div class="columns">
            <div class="column is-two-fifths">
                <app-recipe-list *ngIf="recipeData" [recipeList]="recipeData"></app-recipe-list>
            </div>

            <div class="column">
                <app-recipe-details *ngIf="currentRecipe" [recipeItem]="currentRecipe"></app-recipe-details>
            </div>
        </div>
    </div>
</section>

