
<section class="section px-0 py-0 is-fluid">

    <div class="nav-item-label">
      <a mat-button [routerLink]="">Add</a>
      <a mat-button [routerLink]="">Remove</a>
      <a mat-button [routerLink]="">Modify</a>
    </div>
    <mat-divider></mat-divider>
  
</section>

<section class="section">
    <div class="container is-fluid">

        <mat-form-field>
            <mat-label>Filter</mat-label>
            <input matInput (keyup)="applyFilter($event)" placeholder="Ex. ium" #input>
        </mat-form-field>
        <div class="columns">
            <div class="column is-two-fifths">
                

                <table mat-table [dataSource]="recipesDataSource" multiTemplateDataRows class="mat-elevation-z8">

                    <ng-container matColumnDef="name">
                        <th mat-header-cell *matHeaderCellDef> Name </th>
                        <td mat-cell *matCellDef="let recipe"> {{recipe.name}} </td>
                    </ng-container>

                    <ng-container matColumnDef="cusine">
                        <th mat-header-cell *matHeaderCellDef> Cusine </th>
                        <td mat-cell *matCellDef="let recipe"> {{recipe.background.cusine}} </td>
                    </ng-container>

                    <ng-container matColumnDef="rating">
                        <th mat-header-cell *matHeaderCellDef> Rating </th>
                        <td mat-cell *matCellDef="let recipe"> {{recipe.rating}} </td>
                    </ng-container>

                    <ng-container matColumnDef="popularity">
                        <th mat-header-cell *matHeaderCellDef> Popularity </th>
                        <td mat-cell *matCellDef="let recipe"> {{recipe.popularity}} </td>
                    </ng-container>

                    <ng-container matColumnDef="calories">
                        <th mat-header-cell *matHeaderCellDef> Calories </th>
                        <td mat-cell *matCellDef="let recipe"> {{recipe.nutrition.calories}} </td>
                    </ng-container>

                    <ng-container matColumnDef="carbs">
                        <th mat-header-cell *matHeaderCellDef> Carbs </th>
                        <td mat-cell *matCellDef="let recipe"> {{recipe.nutrition.carbs}} </td>
                    </ng-container>

                    <!-- Expanded Content Column - The detail row is made up of this one column that spans across all columns -->
                    <ng-container matColumnDef="expandedDetail">
                        <td mat-cell *matCellDef="let recipe" [attr.colspan]="displayedColumns.length">
                            <div class="recipe-details" [@detailExpand]="recipe == expandedRecipe ? 'expanded' : 'collapsed'">
                                {{recipe.description}}
                            </div>
                        </td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let recipe; columns: displayedColumns" class="recipe-row"
                        [class.recipe-expanded-details]="expandedRecipe === recipe"
                        (click)="expandedRecipe = expandedRecipe === recipe ? null : recipe">
                    </tr>
                    <tr mat-row *matRowDef="let recipeDetails; columns: ['expandedDetail']" class="recipe-details-row"></tr>

                    <!-- Row shown when there is no matching data. -->
                    <tr class="mat-row" *matNoDataRow>
                        <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
                    </tr>

                </table>

                <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
            </div>

            <div class="column">
                Second column
            </div>
        </div>

    </div>
</section>

